.selection {
  height: 2.75rem;
}

.categoryName {
  display: block;
  margin-bottom: .375rem;
}

.nominee {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
