.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  height: 3rem;
  overflow: hidden;
}

.avatarFrame {
  margin-right: 1rem;
}

.pinFrame {
  clip-path: inset(0 -100vw -1rem -100vw);
}

.input {
  flex: none;
  width: 8rem;
  border: none;
  font-size: 1.5rem;
  color: rgb(82 82 91);
  background-color: transparent;
}

.input::placeholder {
  color: rgb(82 82 91);
}

.input:focus {
  outline: none;
}

.chevron {
  height: 2rem;
  width: 2rem;
  fill: rgb(63 63 70);
}
