.selectionLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.linkDisabled {
  pointer-events: none;
}

.chevron {
  height: 2rem;
  width: 2rem;
  fill: rgb(63 63 70);
}
